<div class="main-container">
  <section class="imageblock switchable-switch feature-large height-60 text-center">
    <div class="imageblock__content col-md-12">
      <div class="background-image-holder">
        <%= image_tag "studiate.jpg" %>
      </div>
      <div class="container pos-vertical-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1>Studiate Komt Eraan</h1>
            <h3>Ontdek de nieuwe manier om je muziekpraktijk te dirigeren!</h3>
            <a class="btn btn--primary type--uppercase inner-link" href="#moreinfo">
              <span class="btn__text">
                Meer informatie
              </span>
            </a>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </div>
  </section>
  <section class="text-center height-40 space--xs">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="typed-headline">
        <span class="h3 inline-block typed-text typed-text--cursor" data-typed-strings="Wees één van de eerste.">Wees één van de eerste.</span>
      </div>
      <%= form_for @user, :url => { :action => "create" } do |f| %>
      <%= f.text_field :email, :placeholder => "Vul email in", :class => "email brandon" %>
      <input class="btn btn--primary type--uppercase" name="commit" type="submit" value="Ik doe mee"/>
    <% end %>
  </div>
</section>
<section class="text-center space--xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>Wat is Studiate</h2>
        <p class="lead">
          Studiate is een online platform dat muziekleraren assisteert bij het efficiënter maken van hun muziekpraktijk. Dit door te helpen met het afhandelen van alle administratieve zaken rondom een muziekpraktijk.
        </p>
        <p class="lead">
          Het platform automatiseert Facturatie, Betalingen, Boekhouding en Belastingaangifte op basis van een voor muziekleraren ontwikkelde Planningstool. Deze combinatie zorgt ervoor dat de muziekleraar meer controle heeft en een beter inzicht heeft in zijn
          muziekpraktijk. Dit resulteert in een besparing van tijd en geld.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="features-small-14 text-center space--xs" id="moreinfo">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-2 col-sm-offset-1">
            <div class="text-block">
              <%= image_tag "1.png", width: "50px" %>
              <h4>Facturatie</h4>
            </div>
            <!--end feature-->
          </div>
          <div class="col-sm-2">
            <div class="text-block">
              <%= image_tag "2.png", width: "50px" %>
              <h4>Betalingen</h4>
            </div>
            <!--end feature-->
          </div>
          <div class="col-sm-2">
            <div class="text-block">
              <%= image_tag "3.png", width: "50px" %>
              <h4>Planning</h4>
            </div>
            <!--end feature-->
          </div>
          <div class="col-sm-2">
            <div class="text-block">
              <%= image_tag "4.png", width: "50px" %>
              <h4>Boekhouding</h4>
            </div>
            <!--end feature-->
          </div>
          <div class="col-sm-2">
            <div class="text-block">
              <%= image_tag "5.png", width: "50px" %>
              <h4>Belastingaangifte</h4>
            </div>
            <!--end feature-->
          </div>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <p class="lead">
            Stelt u zich voor hoeveel tijd u zou besparen wanneer al uw afspraak verzoeken op één plaats binnenkomen, nooit meer een verzoek voor een tijd dat u niet beschikbaar bent en een nieuwe afspraak met een klik bevestigen of weigeren.
        </p>
        <p class="lead">
            Dat u nog maar een fractie van de tijd nodig hebt voor de administratie omdat de facturatie en betalingen automatisch verlopen en dat u op het einde van de maand een duidelijk overzicht heeft van uw financiën en verplichtingen.
        </p>
        <p class="lead">
            Geen heen en weer ge-email over afspraken, geen telefoontjes meer over inhaal lessen of het verzenden van betalingsherinneringen!
        <p class="lead">
            Meer tijd dus om te focussen op lesgeven.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
</div>
