<div class="main-container">
  <section class="unpad elaborate-form-1">
    <div class="row row--gapless">
      <div class="col-sm-6 height-60 bg--dark imagebg" data-overlay="8">
        <div class="background-image-holder">
          <%= image_tag "man-person-hands-coffee.jpg" %>
        </div>
        <div class="pos-vertical-center clearfix">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <span class="h1 bold">Studiate helpt:</span>
            <div class="typed-headline">
              <span class="h2 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="Minder administratie.,Minder kosten., Meer controle.">Meer controle.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 height-60 bg--white">
        <div class="pos-vertical-center clearfix">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <span class="h2 bold">
              Nodig vrienden/collega’s uit & Verdien credits.</span>
            <p class="lead">
              Deel uw unieke link via email, Facebook of Twitter en verdien Studiate credits for elke vriend/collega die zich registreert.
            </p>
            <form action="">
              <input class="validate-required validate-email" type="email" value="http://studiate.nl?ref=<%= @user.referral_code %>"/>
            </form>
            <br>
  <!--               <a href="http://www.facebook.com/sharer/sharer.php?u=studiate.nl?ref=<%= CGI::escape(@user.referral_code) %>" class="btn btn--sm bg--facebook" target="_blank"></a> -->
 <a class="btn btn--sm bg--facebook" href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape("http://www.studiate.nl") %>?ref=<%= CGI::escape(@user.referral_code) %>" target="_blank" >
                <span class="btn__text">
                  Facebook
                </span>
              </a>
              <% twitter_message = "Kan niet wachten totdat @StudiateNL wordt gelanceerd. Ik ga mijn #muziekpraktijk op een nieuwe manier dirigeren!" %>
              <a href="http://twitter.com/share?url=<%= CGI::escape("http://www.studiate.nl") %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="btn btn--sm bg--twitter" target="_blank">
              <span class="btn__text">
                  Twitter
                </span>
              </a>
              <% email_subject = "Iets voor jou?" %>
              <% email_message = "Hey _________,%0d%0d
Ik krijg net deze website doorgestuurd en misschien is het interessant voor jou?%0d
Het assisteert bij het efficiënter maken van je muziekpraktijk.%0d
Je kunt op deze link klikken voor meer informatie: http://www.studiate.nl?#{@user.referral_code}" %>
              <a class="btn btn--sm bg--dark" href="mailto:voorbeeld@email.nl?subject=<%= email_subject %>&body=<%= email_message %>">
                <span class="btn__text">
                  Mail
                </span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg--secondary space--sm">
    <%
      referrals_count = @user.referrals.count

      stops = User::REFERRAL_STEPS

      found = nil

      stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
          stop["selected"] = true
          found = stop
        else
          stop["selected"] = false
        end
      }
    %>
      <div class="container">
        <div class="row">
          <div class="text-center">
            <%
            words = ''
            if referrals_count == 1
              words = 'vriend heeft'
            else
              words = 'vrienden hebben'
            end
            %>
            <% if referrals_count == 0 %>
              <p class="lead">
                <span>Geen</span>
                vrienden hebben zich geregistreerd...Nog niet!</p>
            <% else %>
              <p class="lead">
                <span style="color:rgb(74, 144, 226)"><%= referrals_count %></span>
                <%= words %>
                geregistreerd</p>
            <% end %>
            <a href="javascript:history.go(0)" class="btn btn--primary type--uppercase">
              <span class="btn__text">Blijf checken!</span>
            </a>
          </div>
          <br><br>
          <h2 class="text-center bold">Hoe het werkt</h2>
          <div class="col-sm-12">
            <ul class="process-stepper clearfix" data-process-steps="5">
              <li <% if referrals_count > 0 %>class="active"<% end %>>
                <h2 class="bold m-l">
                  Vrienden
                </h2>
                <p class="lead">
                  Credits
                </p>
              </li>
              <li <% if referrals_count > 4 %>class="active"<% end %>>
                <h2 class="bold m-l">5</h2>
                <p class="lead">
                  15 Euros
                </p>
              </li>
              <li <% if referrals_count > 9 %>class="active"<% end %>>
                <h2 class="bold m-l">10</h2>
                <p class="lead">
                  35 Euros
                </p>
              </li>
              <li <% if referrals_count > 24 %>class="active"<% end %>>
                <h2 class="bold m-l">25</h2>
                <p class="lead">
                  75 Euros
                </p>
              </li>
              <li <% if referrals_count > 49 %>class="active"<% end %>>
                <h2 class="bold m-l">50</h2>
                <p class="lead">
                  100 Euros
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
      </section>
    </div>
